.snip-layout .snip-loader--bar:before{
  background-color: black !important  ;
}

.snip-layout {
  border-left: 10px solid black;
  max-width: 400px !important;
  width: 400px !important;
  // max-width: calc(50% - 50px) !important;
  // width: calc(50% - 50px) !important;
  font-family: inherit !important;
  padding: 0 !important;
  right: 0 !important;
  left: auto !important;
  background: transparent !important;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
  opacity: 0;
  /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 0.25s;
  -moz-animation-duration: 0.25s;
  animation-duration: 0.25s;

 .snip-layout__main-container{
   background: #FFFFFF !important;

 }
  #snip-layout-cart-content {}

  #snipcart-header {
    background: #FFFFFF !important;
    color: black !important;
  }
  #snipcart-main-content{
    background: #FFFFFF !important;
  }

  .snip-loader--bar:before{
    background-color: black !important;
  }

  #snipcart-close {
    // background: red;
    width: 80px;
    height: 80px;
    margin: 10px;
    margin-top: 13px;
    top: 0;
    right: 0;

    i {
      width: 100%;
      display: block;
      position: relative;

      &:after {
         position: absolute;
         width: 100%;
        background: black;
        height: 13px;
        top: 34px;
        display: block;
        content: "";
        transform: rotate(-45deg);
      }
      &:before {
         position: absolute;
         width: 100%;
        background: black;
        height: 13px;
        top: 34px;
        display: block;
        content: "";
        transform: rotate(45deg);
      }
    }
  }

  .snip-layout__main-container {
    margin: 0 !important;
    height: 100%;
    max-width: 100%;

    #snipcart-footer {
      display: none;
    }

    #snipcart-items-header {
      display: none;
    }

    #snipcart-header {
      height: 110px;

      #snipcart-header-total {
        display: none !important;
      }

      #snipcart-title {}
    }

    #snipcart-items-list {
      .snip-quantity-trigger {
        display: none;
      }

      span[data-bind="unitPrice"] {
        display: none;
      }

      span[data-bind="totalPrice"] {
        &::before {
          content: 'Item price: ';
        }
      }

      .snip-table__item{
        td:last-of-type{
          display: none;
        }
      }
    }
  }

  .snip-btn{
    background: black !important;
    height: auto !important;
    border: 3px solid black !important;
  }

  .snip-btn:hover{
    background: black !important;
  }

  // #snipcart-actions{
  .snip-btn--highlight:hover{
    background: white !important;
  }
  .snip-btn--highlight{
    color: black;
    background: white !important;
  }
    #snipcart-next,#snipcart-previous{
        width: 50% !important;
        float: left;
        margin: 0;
        border-radius: 0 !important;
    }
    .js-next{
      border-radius: 0 !important;
        width: 50% !important;
    }
  // }

}
/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
