.snip-table__header {
  display: none !important;
}
.snip-actions{
  // padding-bottom: 0 !important;
  padding-top: 0 !important;
}

.snip-layout #snipcart-apply-discount .snip-form--discount  {
    width: 100%;
    margin-top: 0px !important;
    max-width: 100%;
    margin-right: 0;
}
#snipcart-discounts-code{
  height: 36px;
  line-height: 36px;
  border-right:3px;
  border-left:3px;
  border-top:0px;
  border-bottom:3px;
  border-radius: 0;
  border-color: black;
  border-style: solid;
}
.snip-layout .snip-form__error{
    border-radius: 0 !important;
    height: 42px;
    line-height: 32px;
}

#snipcart-show-discount-box{
  text-align: center;
    width: 100%;
    display: block;
    border:3px solid black !important;
    height: 42px;
    line-height: 36px;
    background: black;
    color: white;
}
#snipcart-cart-content{
  #snipcart-upcoming-payments{
    display: none !important;

  }
  #snipcart-discounts{
    display: none !important;
  }
}
#snipcart-fees{
  td:not(:last-of-type){
    padding-bottom: 0px !important;
  }
}

#snipcart-shippings-list{
  h2{
    white-space: normal !important;
  }
  tr{
    td:nth-of-type(1){
      padding-bottom: 0 !important;
    }
    td:nth-of-type(2){
      padding-top: 2px !important;
      margin-left: 30px;
    }
  }
}

.snip-layout .snip-loader--bar:before {
  background-color: black !important;
}

.snip-table__cell--center.snip-table__small-col {
  display: none !important;
}

.snip-table__cell--right.snip-table__cell--bold.snip-table__small-col {
  display: none !important;
}

.snip-customfields {
  display: none !important;
}

#snipcart-discounts {
  // display: none;
  // width: 50%;
}

.snip-layout {
  border-left: 10px solid black;
  max-width: 400px !important;
  width: 400px !important;
  // max-width: calc(50% - 50px) !important;
  // width: calc(50% - 50px) !important;
  font-family: inherit !important;
  padding: 0 !important;
  right: 0 !important;
  left: auto !important;
  background: transparent !important;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
  opacity: 0;
  /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 0.25s;
  -moz-animation-duration: 0.25s;
  animation-duration: 0.25s;

  .snip-layout__main-container {
    background: #FFFFFF !important;
  }

  .snip-table {
    td {
      padding: 14px !important;
    }
  }

  #snipcart-total {
    td {
      float: left;
      width: 50%;
    }
  }

  #snip-layout-cart-content {}

  #snipcart-header {
    background: #FFFFFF !important;
    color: black !important;
  }

  #snipcart-main-content {
    background: #FFFFFF !important;
  }

  .snip-loader--bar:before {
    background-color: black !important;
  }

  .snip-step__nb {
    font-size: 24px;
  }

  .snip-step__item {
    background: black;
    color: white !important;
    border: 0 !important;
  }

  .snip-step__item.js-active {
    color: black !important;
  }

  #snipcart-close {
    // background: red;
    width: 80px;
    height: 80px;
    margin: 13px 10px 10px;
    top: 0;
    right: 0;

    i {
      width: 100%;
      display: block;
      position: relative;

      &:after {
        position: absolute;
        width: 100%;
        background: black;
        height: 13px;
        top: 34px;
        display: block;
        content: "";
        transform: rotate(-45deg);
      }

      &:before {
        position: absolute;
        width: 100%;
        background: black;
        height: 13px;
        top: 34px;
        display: block;
        content: "";
        transform: rotate(45deg);
      }
    }
  }

  .snip-product__name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .snip-layout__main-container {
    margin: 0 !important;
    height: 100%;
    max-width: 100%;

    #snipcart-footer {
      display: none;
    }

    #snipcart-items-header {
      display: none;
    }

    #snipcart-header {
      height: 110px;

      #snipcart-header-total {
        display: none !important;
      }

      #snipcart-title {}
    }

    #snipcart-items-list {
      .snip-quantity-trigger {
        display: none;
      }

      span[data-bind="unitPrice"] {
        display: none;
      }

      span[data-bind="totalPrice"] {
        &::before {
          content: 'Item price: ';
        }
      }

      .snip-table__item {
        td:last-of-type {
          display: none;
        }
      }
    }
  }

  .snip-btn {
    background: black !important;
    height: auto !important;
    border: 3px solid black !important;
  }

  .snip-btn:hover {
    background: black !important;
  }
  // #snipcart-actions{
  .snip-btn--highlight:hover {
    background: white !important;
  }

  .snip-btn--highlight {
    color: black;
    background: white !important;
  }

  #snipcart-next,
  #snipcart-previous {
    width: 50% !important;
    float: left;
    margin: 0;
    border-radius: 0 !important;
    text-align: center;
  }

  .js-next {
    border-radius: 0 !important;
    width: 50% !important;
    text-align: center;
  }

  #snipcart-paymentmethod-pay {
    width: 50%;
    border-radius: 0;
    margin-left: 0;
    text-align: center;
  }

  .snip-actions {
    .js-back.snip-btn.snip-btn--left,
    .js-submit.snip-btn.snip-btn--highlight.snip-btn--right {
      width: 50%;
      border-radius: 0;
      margin-left: 0;
      text-align: center;
    }
  }
  // }
  .snip-actions {
    input[type="submit"] {
      display: none;
    }
  }

  #snipcart-sub-content {
    .js-next {
      width: 100% !important;
    }
  }

  #snipcart-apply-discount {
    .snip-btn.snip-btn--right {
      border-radius: 0;
      width: 100%;
    }

    .snip-form--discount {
      width: 100%;
      margin-top: 5px;
      max-width: 100%;
      margin-right: 0;
    }
  }
  // #snipcart-billingaddress-form{
  .snip-cols.snip-layout__content {
    // padding-bottom: 0 !important;
    .snip-col {
      padding-bottom: 0;
      border-top: 0;
    }
  }
  // }
}
/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
